/vendor
.env
.env.*
!.env.example
/public/upload*
/runtime

/.idea
/.vscode
*.sublime-project
*.sublime-workspace
.phpstorm.meta.php
_ide_helper.php

.git
.gitignore
.gitattributes
.github
.dockerignore

/phpunit.xml
.phpunit.result.cache
.php-cs-fixer.cache
.php-cs-fixer.php
.travis
/coverage
/tests
/api
phpstan.neon

/package-lock.json
/yarn.lock
/composer.lock

/public/build
/public/css
/public/js
/public/mix-manifest.json
/docker
!/docker/*.sh
!/docker/nginx-frontend
/docker-compose*.yml
/Dockerfile*
/.docker
/builder
/script
test*.sh
build*.sh

/README.md
/LICENSE
/media
*.log
.DS_Store
Thumbs.db

/web
