.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime
vendor/
.phpintel/
.env
.DS_Store
.phpunit*
*.cache
*.back
* copy*
.vscode/
tests/cover
tests/coverage.xml
tests/coding_standard.xml
tests/junit.xml
test*.sh
build*.sh
/plugin/*
!/plugin/mine-admin/
!/plugin/ljk123/
!/plugin/adm/
public/*
*.lock
*.sql
*.gz
/web-*
